<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos :: head('Cadastrar Endereço')}"></head>
	
	<body>
	
		<style th:replace="~{fragmentos :: style}"></style>
	
		<style>
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}
			
			/* Firefox */
			input[type=number] {
			  -moz-appearance: textfield;
			}
		
			.container h4 {
				text-align: center;
			}
			
			label {
				margin: 20px 0 5px 0;
			}
			
			.container-options {
				margin: 20px 0 20px 0;
			}
			
			.container {
				margin-top: 50px;
			}
		</style>
	
		<header th:replace="~{fragmentos :: header}"></header>
	
		<div class="container">
		
			<h4>Informe o Endereço de Entrega</h4>
			
			<form  method="POST" th:action="@{/user/endereco-entrega}" th:object="${endereco}">
				<div class="row">
				
					<div class="col-4">
						<div class="form-group">
							<label for="input-cep" class="form-label">CEP:</label>
							<input id="input-cep" th:field="*{cep} "class="form-control" th:errorclass="is-invalid" value="" th:onblur="pesquisar(this.value)" required/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}">
								Informe um CEP válido.
							</div>
						</div>
					</div>
					
					<div class="col-8">
						<div class="form-group">
							<label for="input-cidade" class="form-label">Cidade:</label>
							<input id="input-cidade" th:field="*{cidade}" th:errorclass="is-invalid" class="form-control" type="text" required/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">
								Informe a cidade.
							</div>
						</div>
					</div>
					
					<div class="col-10">
						<div class="form-group">
							<label for="input-rua" class="form-label">Rua:</label>
							<input id="input-rua" th:field="*{rua}" th:errorclass="is-invalid" class="form-control" type="text" required/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}">
								Informe a rua.
							</div>
						</div>
					</div>
					
					<div class="col-2">
						<div class="form-group">
							<label for="input-numero" class="form-label">Número:</label>
							<input id="input-numero" th:field="*{numero}" th:errorclass="is-invalid" class="form-control" type="number" required/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}">
								Informe o número do imóvel.
							</div>
						</div>
					</div>
					
					<div class="col-6">
						<div class="form-group">
							<label for="input-bairro" class="form-label">Bairro:</label>
							<input id="input-bairro" th:field="*{bairro}" th:errorclass="is-invalid" class="form-control" type="text" required/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}">
								Informe o bairro.
							</div>
						</div>
					</div>
					
					<div class="col-6">
						<div class="form-group">
							<label for="input-estado" class="form-label">Estado:</label>
							<input id="input-estado" th:field="*{estado}" th:errorclass="is-invalid" class="form-control" required maxlength(2) minlength(2)/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">
								Informe o estado. Somente siglas.
							</div>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group">
							<label for="input-complemento" class="form-label">Complemento:</label>
							<input id="input-complemento" th:field="*{complemento}" class="form-control" type="text"/>
						</div>
					</div>
				</div>
				
				<ul th:if="${#fields.hasErrors('*')}">
				  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
				</ul>
				
				<div class="container-options">
					<button class="btn btn-primary" type="submit">Prosseguir</button> 
					<button class="btn btn-primary" value="cancelar" type="button"
						th:onclick="cancelar()">Cancelar</button>
				</div>
				
			</form>
		</div>
	
		<footer th:replace="~{fragmentos :: footer}"></footer>
	
		<!-- Scripts -->
		<script type="text/javascript" th:src="@{/js/consultar-cep.js}"></script>
		<script th:replace="~{fragmentos :: script1}"></script>
		<script th:replace="~{fragmentos :: script2}"></script>
		<script th:replace="~{fragmentos :: script3}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
		<script>	
			// Aplicar Máscara no input cep
			$(document).ready(() => {
				$('#input-cep').mask('00000-000');
			});
			
			$(document).ready(() => {
				$('#input-estado').mask('AA');
			});
			
			
			function cancelar() {
				const link = "http://localhost:8080/user/menu-conta";
				window.location.href = link;
				
			}
		</script>


	</body>
</html>