<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Cadastrar Autor')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<style>
		.container {
			margin-left: 0px;
		}
	</style>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/autor/menu-autor">Lista de Autores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/autor/cadastrar-autor">Cadastrar Autor</a>
		</li>
	</ul>

	<div class="container">
		<form method="POST" th:action="@{'/autor/salvar'}">
			<div class="form-group">
				<label for="inputNome">NOME DO AUTOR</label>
				<input type="text" class="form-control" placeholder="Digite o nome do autor" name="nome" />
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Cadastrar Autor</button>
			</div>
		</form>
	</div>

	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>
</body>

</html>