<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Autor')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<style>
		.salvar {
			margin-top: 10px;

		}
		form{
			margin-top: 15px;
			margin-left: 30px;
		}
	</style>



	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/autor/menu-autor">Autores Cadastrados</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/autor/cadastrar-autor">Cadastrar novo Autor</a>
		</li>
	</ul>
	<form method="POST" th:action="@{'/autor/salvar'}">
		<div class="col-10">
			<label for="inputNome">Nome do Autor</label>
			<input type="text" class="form-control" placeholder="Digite o nome do autor" name="nomeAutor">

			<button type="submit" class="btn btn-primary salvar">Salvar</button>
		</div>
	</form>

	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>

</body>

</html>