<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos :: head('Cadastrar Endereço')}"></head>
	
	<body>
		
		<style th:replace="~{fragmentos :: style}"></style>
	
		<header th:replace="~{fragmentos :: header}"></header>
		
	
				
		<footer th:replace="~{fragmentos :: footer}"></footer>
		
		<script th:replace="~{fragmentos :: script1}"></script>
		<script th:replace="~{fragmentos :: script2}"></script>
		<script th:replace="~{fragmentos :: script3}"></script>

	</body>
</html>