<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragmentos :: head('Minha Conta')}"></head>
	
	<body>
		
		<style th:replace="~{fragmentos :: style}"></style>
	
		<style>
			.container-menu {
				margin: 40px 50px;
			}
			
			.card {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;
				padding: 20px;
				height: 150px;
				background-color: #F8F9FA;
				font-weight: bold;
			}
			
			h4 {
				margin-bottom: 20px;
			}
			
			a {
				text-decoration: none;
			}
			
			.card:hover {
				background-color: rgb(246, 245, 244);
			}
			
			
		</style>
			
		<header th:replace="~{fragmentos :: header}"></header>
		
		
	
		<div class="container-menu row">
			
			<div class="col-12">
				<h4>Sua conta</h4>
			</div>
			
			<div class="col-4">
				<a href="http://localhost:8080/pedido/pedidos-finalizados">
					<div class="card">
						Meus Pedidos
					</div>
				</a>
			</div>
			
			<div class="col-4">
				<a href="http://localhost:8080/pedido/carrinho-compra">
					<div class="card">
						Carrinho de Compra
					</div>
				</a>
			</div>
				
			<div class="col-4">
				<a href="http://localhost:8080/user/alterar-dados">
					<div class="card">
						Alterar Dados
					</div>
				</a>
			</div>
			
			<div class="col-4">
				<a href="http://localhost:8080/user/endereco-entrega">
					<div class="card">
						Endereço de Entrega
					</div>
				</a>
			</div>
			
		</div>
				
		<footer th:replace="~{fragmentos :: footer}"></footer>
		
		<script th:replace="~{fragmentos :: script1}"></script>
		<script th:replace="~{fragmentos :: script2}"></script>
		<script th:replace="~{fragmentos :: script3}"></script>

	</body>
</html>