<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Estoque')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<style>
		.salvar {
			margin-top: 10px;

		}

		form {
			margin-top: 15px;
			margin-left: 30px;
		}
	</style>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/estoque/menu-estoque">Estoques cadastrados</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/estoque/itens-estoque">Lista de itens do estoque</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/estoque/cadastrar-estoque">Cadastrar novo estoque</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/estoque/historico-estoque">Histórico de itens</a>
		</li>
	</ul>

	<form method="POST" th:object="${dtoEstoque}" th:action="@{'/estoque/salvar'}">
		<div class="col-10">
			<label for="inputNome">Nome do estoque</label>
			<input type="text" class="form-control" placeholder="Digite um nome para o estoque" 
			th:field="*{nomeEstoque}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:if="${#fields.hasErrors('nomeEstoque')}" th:errors="*{nomeEstoque}">
			</div>
			<button type="submit" class="btn btn-primary salvar">Salvar</button>
		</div>
	</form>


	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
</body>

</html>