<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Histórico')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<ul class="nav nav-tabs">

		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/estoque/menu-estoque">Estoques cadastrados</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/estoque/itens-estoque">Lista de itens do estoque</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/estoque/cadastrar-estoque">Cadastrar novo estoque</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/estoque/historico-estoque">Histórico de itens</a>
		</li>
	</ul>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">ITEM</th>
				<th scope="col">REGISTRO</th>
				<th scope="col">ESTADO</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${historicos.empty}">
				<td colspan="2">Histórico vazio!</td>
			</tr>
			<tr th:each="historico : ${historicos}">
				<th scope="row">
					<span th:text="${historico.nomeItem}"></span>
				</th>
				<td><span th:text="${historico.calendario.getTime().toString()}"></span></td>
				<td><span th:text="${historico.estadoItem}"></span></td>
			</tr>
		</tbody>
	</table>


	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>

</body>

</html>