<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Cadastrar Livro')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>
	<style>
		.col {
			margin-bottom: 15px;
		}

		#titulo {
			text-align: center;
		}

		.checkbox-inline {
			margin-right: 15px;
		}

		.jumbotron {
			margin-bottom: 0px;
		}
	</style>

	<div class="jumbotron">
		<form method="post" id="formulario" th:object="${dTOLivro}" th:action="@{'/livro/salvar'}"
			enctype="multipart/form-data">
			<div class="form-group" id="grupo">
				<h4 id="titulo">Autores do Livro</h4>
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-md-auto" th:if="${autores.empty}">
							<div>
								<h5 style="text-align: center;">Não existe autores cadastrados</h5>
							</div>
						</div>
						<div class="col-md-auto" th:else="${!autores.empty}">
							<label class="checkbox-inline" th:each="autor : ${autores}">
								<input type="checkbox" th:value="${autor.id}" th:text="${autor.nome}" />
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" placeholder="ISBN" name="isbn"/>
				</div>
				<div class="col">
					<input type="text" class="form-control" id="titulo_livro" placeholder="TÍTULO" name="titulo"/>
				</div>
			</div>
			<div class="form-group">
				<textarea class="form-control" placeholder="DESCRIÇÃO" rows="2" id="descricao"
					name="descricao"></textarea>
			</div>
			<div class="row">
				<div class="col-md-auto">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">R$</span>
						</div>
						<input type="text" class="form-control" id="preco" placeholder="PREÇO" name="preco"/>
					</div>
				</div>
				<div class="col" id="file">
					<label for="imagem" class="form-label">Escolha uma imagem para capa do Livro</label>
					<input type="file" name="fileLivro" id="imagem">
				</div>
			</div>
			<div class="mb-3">
				<input type="text" class="form-control" placeholder="NOME EDITORA" name="nomeEditora" />
			</div>
			<div class="mb-3">
				<input type="text" class="form-control" placeholder="CIDADE EDITORA" name="cidadeEditora" />
			</div>
			<div class="mb-3">
				<input type="text" class="form-control" placeholder="CATEGORIA" name="nomeCategoria" />
			</div>
			<div class="row">
				<div class="col">
					<input type="" class="form-control" placeholder="EDIÇÃO" id="edicao" name="edicao" />
				</div>
				<div class="col">
					<input type="" class="form-control" placeholder="ANO" id="ano" name="ano" />
				</div>
			</div>
			<div th:if=${!autores.empty}>
				<div class="btn-salve">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>
	
</body>

</html>