<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Cadastrar editora')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/autor/menu-autor">Autores Cadastrados</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/autor/cadastrar-autor">Cadastrar novo Autor</a>
		</li>
	</ul>

	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>

</body>

</html>