<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Cadastrar editora')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<style>
		form {
			margin-top: 15px;
			margin-left: 30px;
			margin-right: 30px;
		}

		.container {
			margin-top: 15px;
		}

		button {
			margin-top: 15px;
		}
	</style>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/editora/menu-editora">Editoras cadastradas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/editora/cadastrar-editora">Cadastrar nova editora</a>
		</li>
	</ul>
	<div class="container">
		<div class="card">
			<form method="POST" th:object="${dtoEditora}" th:action="@{'/editora/salvar-editora'}">
				<div class="form-group">
					<label for="inputNome">Nome da editora:</label>
					<input type="text" class="form-control" placeholder="Digite o nome da editora"
						th:field="*{nomeEditora}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('nomeEditora')}"
						th:errors="*{nomeEditora}">
					</div>
				</div><br>
				<div class="form-group">
					<label for="inputCidade">Cidade da editora:</label>
					<input type="text" class="form-control" placeholder="Digite o nome da cidade da editora"
						th:field="*{cidadeEditora}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:if="${#fields.hasErrors('cidadeEditora')}"
						th:errors="*{cidadeEditora}">
					</div>
					<button type="submit" class="btn btn-primary salvar">Salvar</button>
				</div><br>
			</form>
		</div>
	</div>

	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>
</body>

</html>