<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Cadastrar editora')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/editora/menu-editora">Editoras cadastradas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/editora/cadastrar-editora">Cadastrar nova editora</a>
		</li>
	</ul>

	<form method="POST" th:action="@{'/editora/salvar-editora'}">
		<div class="col-10">
			<label for="inputNome">Nome da editora:</label>
			<input type="text" class="form-control" placeholder="Digite o nome da editora" name="nomeEditora"><br>
			<label for="inputCidade">Cidade da editora:</label>
			<input type="text" class="form-control" placeholder="Digite o nome da cidade da editora" name="cidadeEditora"><br>
			<button type="submit" class="btn btn-primary salvar">Salvar</button>
		</div>
	</form>

	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
	<script th:replace="~{fragmentos :: script3}"></script>

</body>

</html>