<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Editora')}"></head>

<body>
	<header th:replace="~{fragmentos :: header}"></header>

	<style th:replace="~{fragmentos :: style}"></style>

	<style>
		#btn-excluir,
		#btn-editar {

			max-width: 35px;
			max-height: 35px;
		}

		.img-editar {
			margin-left: -9px;
			margin-top: -5px;
		}

		.img-excluir {
			margin-left: -7px;
			margin-bottom: 5px;
		}
	</style>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="http://localhost:8080/editora/menu-editora">Editoras cadastradas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:8080/editora/cadastrar-editora">Cadastrar nova editora</a>
		</li>
	</ul>


	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Cidade</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${editoras.empty}">
				<td colspan="2">Não existe editoras cadastradas</td>
			</tr>
			<tr th:each="editora : ${editoras}">
				<th scope="row">
					<span th:text="${editora.id}"></span>
				</th>
				<td><span th:text="${editora.nome}"></span>
				<td><span th:text="${editora.cidade}"></span>
				<td>

					<button id="btn-editar" type="button" class="btn btn-primary" title="Editar editora"
						data-toggle="modal" data-target="#modalEditarEditora">
						<img class="img-editar" src="https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" />
					</button>

					<!-- Modal editar editora-->
					<div class="modal fade" id="modalEditarEditora" tabindex="-1" role="dialog"
						aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="TituloModalLongoExemplo">Editar editora
									</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">

									<form method="POST" th:action="@{/editora/alterar-editora}"
										th:object="${dtoEditora}">
										<div class="form-group">
											<div class="modal-body">


												<script th:inline="javascript" th:if="${#fields.hasErrors('*')}">
													$("#modalEditarEditora").modal("show");
												</script>

												<label for="inputIdEditora">Id</label>
												<input type="" class="form-control" name="idEditora"
													th:value="${editora.id}" readonly>
												<label for="inputNome">Novo nome</label>
												<input type="text" class="form-control" th:value="${editora.nome}"
													name="nomeEditora" th:errorclass="is-invalid">
												<div class="text text-danger"
													th:if="${#fields.hasErrors('nomeEditora')}"
													th:errors="*{nomeEditora}"></div>
												<label for="inputCidade">Nova cidade</label>
												<input type="text" class="form-control" th:value="${editora.cidade}"
												 name="cidadeEditora"
													th:errorclass="is-invalid">
												<div class="text text-danger"
													th:if="${#fields.hasErrors('cidadeEditora')}"
													th:errors="*{cidadeEditora}"></div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Fechar</button>
													<button type="submit" class="btn btn-primary">Salvar
														alteração</button>
												</div>
											</div>
										</div>
								</div>
								</form>
							</div>
						</div>
					</div>
					</div>
					<a th:href="@{/editora/deletar/{id}(id = ${editora.id})}">
						<button id="btn-excluir" type="button" class="btn btn-danger" title="Excluir Autor">
							<img class="img-excluir" src="https://img.icons8.com/material-sharp/24/000000/delete.png" />
						</button>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<footer th:replace="~{fragmentos :: footer}"></footer>

	<script th:replace="~{fragmentos :: script1}"></script>
	<script th:replace="~{fragmentos :: script2}"></script>
</body>

</html>